Repository komi0929/pen: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs: コンセプトのコピーを3段落に調整
  src/app/page.tsx
Due: eslint --fix, prettier --write

feat: 数値管理システム（analytics_events, feature_flags, /admin ダッシュボード）
  src/app/admin/page.tsx
  src/app/api/generate-article-async/route.ts
  src/app/articles/[articleId]/page.tsx
  src/app/auth/callback/route.ts
  src/lib/actions/admin.ts
  src/lib/actions/feature-flags.ts
  src/lib/actions/interviews.ts
  src/lib/actions/memos.ts
  src/lib/actions/themes.ts
  src/lib/analytics-client.ts
  src/lib/analytics.ts
  supabase/migrations/002_analytics.sql
Due: eslint --fix, prettier --write

feat: GA4 Data API連携 + 管理者コード認証（/admin）
  .env.local.example
  package-lock.json
  package.json
  src/app/admin/page.tsx
  src/app/api/admin/ga/route.ts
  src/lib/ga-client.ts
Due: eslint --fix, prettier --write

feat: チャット内記事生成ボタン + 執筆中待機画面 + 完成後自動遷移
  src/app/api/generate-article-async/route.ts
  src/app/themes/[themeId]/interview/page.tsx
Due: eslint --fix, prettier --write

feat: GA4計測タグをlayout.tsxに追加
  src/app/layout.tsx
Due: eslint --fix, prettier --write

fix: セキュリティ監査対応（ヘッダリダイレクトエラーページSEO）
  next.config.ts
  src/app/auth/callback/route.ts
  src/app/error.tsx
  src/app/not-found.tsx
  src/app/robots.ts
  src/app/sitemap.ts
Due: eslint --fix, prettier --write

fix: 監査残対応（ZodバリデーションDBインデックスaria-labelOGPapple-touch-icon）
  src/app/apple-icon.tsx
  src/app/articles/page.tsx
  src/app/layout.tsx
  src/app/opengraph-image.tsx
  src/app/themes/[themeId]/page.tsx
  src/app/themes/page.tsx
  src/components/Header.tsx
  src/lib/actions/articles.ts
  src/lib/actions/interviews.ts
  src/lib/actions/memos.ts
  src/lib/actions/themes.ts
  src/lib/validations.ts
  supabase/migrations/003_indexes.sql
Due: eslint --fix, prettier --write

fix: 存在しないanalytics_eventsテーブルのインデックスを削除
  supabase/migrations/003_indexes.sql
Due: none

fix: validations.tsからuse serverを削除（ビルドエラー修正）
  src/lib/validations.ts
Due: eslint --fix, prettier --write

feat: ログインUX改善（レートリミット対策ログアウト確認メールアドレス記憶）
  src/app/login/page.tsx
  src/contexts/AuthContext.tsx
Due: eslint --fix, prettier --write

fix: ログインインタビュー品質改善（認証チェックanalytics堅牢化エラーハンドリング）
  src/app/api/generate-article-async/route.ts
  src/app/api/interview/route.ts
  src/app/auth/callback/route.ts
  src/app/login/page.tsx
  src/app/themes/[themeId]/interview/page.tsx
  src/contexts/AuthContext.tsx
Due: eslint --fix, prettier --write

fix: ユーザー作業消失防止（離脱防止削除確認記事生成リカバリ）
  src/app/api/generate-article-async/route.ts
  src/app/themes/[themeId]/interview/page.tsx
  src/app/themes/[themeId]/page.tsx
Due: eslint --fix, prettier --write

fix: テーマ非表示バグ修正、記事一覧の削除確認追加、記事ありバッジ追加
  src/app/articles/page.tsx
  src/app/themes/page.tsx
  src/lib/actions/themes.ts
  src/types/index.ts
Due: eslint --fix, prettier --write

feat: ファビコンSVG追加、タイトルをAIインタビュー＆記事制作に変更、admin画面に改善要望一覧セクション追加
  src/app/admin/ImprovementRequestsAdmin.tsx
  src/app/admin/page.tsx
  src/app/icon.svg
  src/app/layout.tsx
Due: eslint --fix, prettier --write

fix: ファビコンをTOPページのPenLineアイコンデザインに変更
  src/app/icon.svg
Due: none

feat: 改善履歴の自動更新仕組化（APIエンドポイント、ワークフロー、GEMINI.mdルール追加）
  .agent/workflows/dev.md
  GEMINI.md
  src/app/api/admin/improvement-history/route.ts
  src/lib/actions/improvements.ts
Due: eslint --fix, prettier --write

fix: 改善履歴APIをcreateAdminClientに変更（RLSバイパス）
  src/app/api/admin/improvement-history/route.ts
Due: eslint --fix, prettier --write

fix: 改善履歴の並び順を最新上部に修正
  src/lib/actions/improvements.ts
Due: eslint --fix, prettier --write

feat: テーマ一覧の並び順最適化＆記事ありバッジ改善（メモ更新順記事制作済順、緑色ピルバッジ）
  src/app/themes/page.tsx
  src/lib/actions/themes.ts
  src/types/index.ts
Due: eslint --fix, prettier --write

feat: テーマ詳細ページのUX改善（アクションボタン上部移動、記事ボタン条件表示）
  src/app/themes/[themeId]/page.tsx
  src/lib/actions/themes.ts
Due: eslint --fix, prettier --write

fix: メールログイン認証のバグ修正 - レート制限判定改善クールダウン延長状態永続化
  src/app/login/page.tsx
Due: eslint --fix, prettier --write

fix: カスタムSMTP設定に合わせてレート制限クールダウンを60秒に最適化
  src/app/login/page.tsx
Due: eslint --fix, prettier --write

feat: 記事を他テーマの参考資料として追加する機能
  src/app/api/generate-article-async/route.ts
  src/app/api/interview/route.ts
  src/app/articles/[articleId]/page.tsx
  src/app/themes/[themeId]/interview/page.tsx
  src/app/themes/[themeId]/page.tsx
  src/lib/actions/article-refs.ts
  src/types/index.ts
  supabase/migrations/004_theme_article_refs.sql
Due: eslint --fix, prettier --write

feat: テーマ側から参考記事を追加する機能
  src/app/themes/[themeId]/page.tsx
  src/lib/actions/article-refs.ts
Due: eslint --fix, prettier --write

fix: CTAセクションを未ログインユーザーのみに表示
  src/app/page.tsx
  src/components/CtaSection.tsx
Due: eslint --fix, prettier --write

feat: 記事生成前の一人称文体選択機能
  src/app/api/generate-article-async/route.ts
  src/app/themes/[themeId]/interview/page.tsx
Due: eslint --fix, prettier --write

feat: プロンプトバージョン管理システムとAI公開ページ
  src/app/ai-system/page.tsx
  src/app/api/generate-article-async/route.ts
  src/app/api/generate-article/route.ts
  src/app/api/interview/route.ts
  src/components/Footer.tsx
  src/lib/prompts/interview-v1.ts
  src/lib/prompts/registry.ts
  src/lib/prompts/writing-v1.ts
Due: eslint --fix, prettier --write

style: AIのしくみをpenの仕組みに変更、ロボットアイコンと重複絵文字を削除
  src/app/ai-system/page.tsx
  src/components/Footer.tsx
Due: eslint --fix, prettier --write

docs: 繰り返しミス再発防止ルールを追加
  .agent/workflows/dev.md
  .agent/workflows/mistakes.md
Due: prettier --write

docs: 作業スタイルを厳命ルールに更新（仮説付き確認・事前承認の義務化）
  .agent/workflows/mistakes.md
  GEMINI.md
Due: prettier --write

fix: 記事生成時の生プロンプト露出バグ修正 (3層防御)
  docs/ai-rules-guide.md
  src/app/api/generate-article-async/route.ts
  src/app/api/generate-article/route.ts
  src/app/articles/[articleId]/page.tsx
  src/components/NoteMarkdown.tsx
  src/lib/prompts/writing-v1.ts
Due: eslint --fix, prettier --write

feat: 文体リファレンス機能を追加
  src/app/api/generate-article-async/route.ts
  src/app/api/generate-article/route.ts
  src/app/api/rewrite/route.ts
  src/app/articles/[articleId]/page.tsx
  src/app/settings/styles/page.tsx
  src/app/themes/[themeId]/interview/page.tsx
  src/components/Header.tsx
  src/lib/actions/style-references.ts
  src/lib/database.types.ts
  src/lib/prompts/writing-v1.ts
  src/types/index.ts
  supabase/migrations/005_style_references.sql
Due: eslint --fix, prettier --write

docs: mistakes.md を全面改訂 - インシデントログとミスカテゴリを体系化
  .agent/workflows/mistakes.md
Due: prettier --write

docs: GEMINI.md に頻発ミス防止ルール3件を厳命として追加
  GEMINI.md
Due: prettier --write

feat: ブロックエディタ実装 - 記事編集/D&D/自動保存/履歴管理
  src/app/articles/[articleId]/page.tsx
  src/app/globals.css
  src/components/BlockEditor.tsx
  src/components/EditHistoryPanel.tsx
  src/lib/actions/article-editor.ts
  src/lib/block-utils.ts
  src/types/index.ts
  supabase/migrations/006_article_edit_history.sql
Due: eslint --fix, prettier --write

style: エディタUI改善 - タイプラベル削除/ヘッダー固定/パディング最適化
  src/app/globals.css
  src/components/BlockEditor.tsx
  supabase/.temp/cli-latest
  supabase/.temp/gotrue-version
  supabase/.temp/pooler-url
  supabase/.temp/postgres-version
  supabase/.temp/project-ref
  supabase/.temp/rest-version
  supabase/.temp/storage-migration
  supabase/.temp/storage-version
Due: eslint --fix, prettier --write

chore: supabase/.temp を gitignore に追加
  .gitignore
  supabase/.temp/cli-latest
  supabase/.temp/gotrue-version
  supabase/.temp/pooler-url
  supabase/.temp/postgres-version
  supabase/.temp/project-ref
  supabase/.temp/rest-version
  supabase/.temp/storage-migration
  supabase/.temp/storage-version
Due: none

fix: エディタヘッダーをfixed配置に変更 - 確実に画面上部に固定表示
  src/app/globals.css
Due: prettier --write

fix: タイトル入力を自動リサイズtextareaに変更 - 長いタイトルもスマホで全文表示
  src/components/BlockEditor.tsx
Due: eslint --fix, prettier --write

feat: D&Dを挿入方式に改善 - ドロップライン表示/ドラッグ中の視覚フィードバック強化
  src/app/globals.css
  src/components/BlockEditor.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,mjs}
  prettier --write: (any of: *.{js,ts,jsx,tsx,mjs}) or (any of: *.{css,scss,md,json})
